<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}

<head>
    <link rel = "icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/2158178466/interns-wanted.jpg"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Employer Dash</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static "css/all.css" %}" />
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	<div id="header">
	  <h2><img src="{% static "img/banner.jpg" %}" height="300" alt=""/><br />
      </h2>
	      </p>
<p>&nbsp;</p>
		  <ul id="nav">
<li></li>
				<li></li>
                 <li><a href="/rango/employ_edit/">Edit profile</a></li>
				<li><a href="/rango/intern_match/">Intern Match</a></li>
				<li></li>
				<li><a href="/rango/job_posting/">Job Postings</a></li>
                <li><a href="/rango/posted_job/">Posted Jobs</a></li>
                  <li><a href="/rango/index/">Logout</a></li>
		  </ul>
</div>
	</div>
<div id="main">
		<div class="wrapper">
		  <h2><strong>WELCOME TO DASH BOARD :)</strong></h2>
		  <p>&nbsp;</p>
		</div>
	</div>
	<div id="footer">
		<div class="holder">
			<div class="info">
				<span class="copy">Copyright (c) 2014 CODINGS SERIOUSLY REVIVED</span>
			    <ul>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Disclaimer</a></li>
				</ul>
		  </div>
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Job seekers</a></li>
				<li><a href="#">Employers</a></li>
				<li><a href="#">Career Advice</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Newsletter</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>