<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>interfinder</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static "css/all.css" %}" />
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>

</head>

<body>
	<div id="header">
		<div class="wrapper">
		  <p><img src="{% static "img/banner.jpg" %}" height="300" alt=""/>
		    <label for="textfield">  </label>
		  </p>
		  <p><br />
	      </p>
<p>&nbsp;</p>
		  <ul id="nav">
<li><a href="#">Dashboard</a></li>
				<li></li>
				<li></li>
				<li><a href="#">Job Postings</a></li>
				<li><a href="#">Posted Jobs</a></li>
                  <li><a href="/rango/index/">Logout</a></li>
		  </ul>
		</div>
	</div>
	<div id="main">
		<div class="wrapper">
		  <p>SEARCH YOUR JOB LISTINGS HERE:</p>
		  <p>Categories:</p>
		  <p>
		    <input type="checkbox" name="checkbox" id="checkbox" />
		    <label for="checkbox"></label>
		  Accounting</p>
		  <p>
		    <input type="checkbox" name="checkbox2" id="checkbox2" /> 
	      Finance</p>
		  <p>
		    <input type="checkbox" name="checkbox3" id="checkbox3" />
	      Business Informatics</p>
		  <p>
		    <input type="checkbox" name="checkbox4" id="checkbox4" />
	      Computing Science</p>
		  <p>
		    <input type="checkbox" name="checkbox5" id="checkbox5" /> 
	      Bio Technology</p>
		  <p>Education Level:</p>
		  <p>
		    <input type="checkbox" name="checkbox6" id="checkbox6" />
	      Undergraduate with honous</p>
		  <p>
		    <input type="checkbox" name="checkbox7" id="checkbox7" /> 
	      Undergraduate with degree</p>
		  <p>
		    <input type="checkbox" name="checkbox8" id="checkbox8" />
	      Diploma Holder</p>
		  <p>
		    <input type="checkbox" name="checkbox9" id="checkbox9" />
	      High School</p>
		  <p>
		    <input type="checkbox" name="checkbox10" id="checkbox10" />
	      O level </p>
		  <p>
		    <input type="checkbox" name="checkbox11" id="checkbox11" />
	      N Level</p>
		  <p>
		    <input type="checkbox" name="checkbox12" id="checkbox12" /> 
	      ITE</p>
		  <p>Intership period:</p>
		  <p>
		    <input type="checkbox" name="checkbox13" id="checkbox13" />
	      1 MONTH</p>
		  <p>
		    <input type="checkbox" name="checkbox14" id="checkbox14" />
	      3 MONTHS</p>
		  <p>
		    <input type="checkbox" name="checkbox15" id="checkbox15" /> 
	      6 MONTHS</p>
		  <p>
		    <input type="checkbox" name="checkbox16" id="checkbox16" />
	      1 YEAR</p>
		  <p>
		    <input type="submit" name="button" id="button" value="GO" />
		  </p>
<p>&nbsp;</p>
		  <p>&nbsp; </p>
		</div>
	</div>
	<div id="footer">
		<div class="holder">
			<div class="info">
				<span class="copy">Copyright (c) 2014 CODINGS SERIOUSLY REVIVED</span>
			    <ul>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Disclaimer</a></li>
				</ul>
		  </div>
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Job seekers</a></li>
				<li><a href="#">Employers</a></li>
				<li><a href="#">Career Advice</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Newsletter</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>