<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}


<head>
    <link rel = "icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/2158178466/interns-wanted.jpg"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Intern Finder</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static "css/all.css" %}" />
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>
<style type="text/css">
#apDiv1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
	left: 446px;
	top: 462px;
}
</style>
</head>
<body>
	<div id="header">
		<div class="wrapper">
		  <p><img src="{% static "img/briefcase.png" %}" width="345" height="335" alt="\" /><img src="{% static "img/text.png" %}" width="500" height="192" />
		    <label for="textfield">  </label>
		  </p>
		  <p>  <p>Members Login:</p>  
		   <form method="post" action="" id="internLoginForm">
		   <p>{% csrf_token %} </p>
		  <p>LoginID : 
		    <label for="internUsername"></label>
		    <input type="text" name="internUsername" id="internUsername" placeholder="Username"/>
		  </p>
		  <p>Password: 
		    <input type="password" name="internPassword" id="internPassword" placeholder="Password"/><br />
	      </p>
		  <div id="apDiv1"> <a> <button type="submit" name="submit" class="btn" >Login</button></a></div>
		  </form>
<p>&nbsp;</p>
		  <ul id="nav">
<li></li>
				<li><a href="#">Job Seekers</a></li>
				<li><a href="#">Employers</a></li>
				<li><a href="#">Career advice</a></li>
				<li><a href="#">FAQ</a></li>
                  <li></li>
		  </ul>
		</div>
	</div>
	<div id="main">
		<div class="wrapper"></div>
	</div>
	<div id="footer">
		<div class="holder">
			<div class="info">
				<span class="copy">Copyright (c) 2014 CODINGS SERIOUSLY REVIVED</span>
			    <ul>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Disclaimer</a></li>
				</ul>
		  </div>
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Job seekers</a></li>
				<li><a href="#">Employers</a></li>
				<li><a href="#">Career Advice</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Newsletter</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>