{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<link rel=”stylesheet” href=”css/bootstrap.css”  type=”text/css”/>
     <script src=”js/bootstrap.js”></script>
    <link rel = "icon" type="image/jpg" href="https://pbs.twimg.com/profile_images/2158178466/interns-wanted.jpg"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>JobBoardTemplate</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static "css/all.css" %}" />
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.main.js"></script>
<style type="text/css">
#apDiv1 {
	position:absolute;
	width:398px;
	height:115px;
	z-index:1;
	left: 916px;
	top: 103px;
}

 #search ul {
    padding:0;
    margin: 0;
 }

 #search li {
    list-style:none;
    float: left;
    padding:0;
    border: 1px solid #bbb;
    margin: 0;
 }

 #search a {
     text-decoration: none;
     padding: 10px;
     text-align: center;
     color:#000000;
    display:block;
}
#test {
   color:#000000;
    border: 1px solid #bbb;
}

    </style>
</head>
<body></body>
	<div id="header">
		<div class="wrapper">
		  <p><img src="{% static "img/banner.jpg" %}" height="300" alt=""/><br />
		    <label for="textfield">  </label>
		  </p>
<div id="apDiv1">
<p>&nbsp;</p>
		  
		  </div>
<h2><br />
      </h2>
<p>&nbsp;</p>
		  <ul id="nav">
<li><a href="#">Job Seekers</a></li>
				<li><a href="#">Employers</a></li>
				<li><a href="#">Career advice</a></li>
				<li><a href="#">FAQ</a></li>
		  </ul>
	  </div>
	</div>
	<div id="main">
		<div class="wrapper">
			<div id="content">
				<div class="block">
					<div class="holder">
						<div class="frame">
							<div class="block-content">
								<div class="title">
									<h2>Job<span>Search Result</span></h2>
								</div>
								<form method="post" class="search-form" action="/rango/search/">
                                {%  csrf_token %}
                                <table border = "1" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            name
                                        </td>
                                        <td>
                                            position
                                        </td>
                                        <td>
                                            postionArea
                                        </td>
                                        <td>
                                            companyID
                                        </td>
                                        <td>
                                            userID
                                        </td>
                                    </tr>
                                    {% for c in keyword %}
                                    <tr>
                                        <td>
                                            {{ c.name }}
                                        </td>
                                        <td>
                                            {{ c.position }}
                                        </td>
                                        <td>
                                            {{ c.postionArea }}
                                        </td>
                                        <td>
                                            {{ c.companyID }}
                                        </td>
                                        <td>
                                            {{ c.userID }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <br>
                                <br>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="block">
				  <div class="holder">
						<div class="frame">
							<div class="title">
								<h2>Featured<span>categories</span></h2>
							</div>
						</div>
					</div>
					<!-- TemplateBeginEditable name="EditRegion1" -->
					<p>Accounting</p>
					<p>Animation</p>
					<p>Advertising</p>
					<p>Banking and Finance</p>
					<p>Business Informatics</p>
					<p>Biology</p>
					<p>Chemistry </p>
					<p>Childhood Psychology</p>
					<p>Computer Hardware</p>
					<p>Computing Science</p>
					<p>Design </p>
					<p>Development</p>
					<p>Culinary</p>
					<p>Economics</p>
					<p>Health-care</p>
					<p>Information Technology</p>
					<p>Finance				  </p>
				  <!-- TemplateEndEditable --></div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="holder">
			<div class="info">
				<span class="copy">Copyright (c) 2014 CODINGS SERIOUSLY REVIVED</span>
			    <ul>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Disclaimer</a></li>
				</ul>
		  </div>
			<ul class="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Job seekers</a></li>
				<li><a href="#">Employers</a></li>
				<li><a href="#">Career Advice</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Newsletter</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>